In [1]:
%matplotlib notebook

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
import IPython

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
cars['USD'] = cars.Price * 0.012
print(cars.head())

   Car_ID    Brand    Model  Year  Kilometers_Driven Fuel_Type Transmission  \
0       1   Toyota  Corolla  2018              50000    Petrol       Manual
1       2    Honda    Civic  2019              40000    Petrol    Automatic
2       3     Ford  Mustang  2017              20000    Petrol    Automatic
3       4   Maruti    Swift  2020              30000    Diesel       Manual
4       5  Hyundai   Sonata  2016              60000    Diesel    Automatic

  Owner_Type  Mileage  Engine  Power  Seats    Price      USD
0      First       15    1498    108      5   800000   9600.0
1     Second       17    1597    140      5  1000000  12000.0
2      First       10    4951    395      4  2500000  30000.0
3      Third       23    1248     74      5   600000   7200.0
4     Second       18    1999    194      5   850000  10200.0

In [4]:
cars.rename(columns ={'Mileage' : 'KML'}, inplace = True)

In [5]:
cars['MPG'] = cars['KML'] * 2.352

In [6]:
print(cars.head())

   Car_ID    Brand    Model  Year  Kilometers_Driven Fuel_Type Transmission  \
0       1   Toyota  Corolla  2018              50000    Petrol       Manual
1       2    Honda    Civic  2019              40000    Petrol    Automatic
2       3     Ford  Mustang  2017              20000    Petrol    Automatic
3       4   Maruti    Swift  2020              30000    Diesel       Manual
4       5  Hyundai   Sonata  2016              60000    Diesel    Automatic

  Owner_Type  KML  Engine  Power  Seats    Price      USD     MPG
0      First   15    1498    108      5   800000   9600.0  35.280
1     Second   17    1597    140      5  1000000  12000.0  39.984
2      First   10    4951    395      4  2500000  30000.0  23.520
3      Third   23    1248     74      5   600000   7200.0  54.096
4     Second   18    1999    194      5   850000  10200.0  42.336

In [16]:
column = cars.pop('MPG')
cars.insert(9, 'MPG', column)

In [17]:
print(cars.head())

   Car_ID    Brand    Model  Year  Kilometers_Driven Fuel_Type Transmission  \
0       1   Toyota  Corolla  2018              50000    Petrol       Manual
1       2    Honda    Civic  2019              40000    Petrol    Automatic
2       3     Ford  Mustang  2017              20000    Petrol    Automatic
3       4   Maruti    Swift  2020              30000    Diesel       Manual
4       5  Hyundai   Sonata  2016              60000    Diesel    Automatic

  Owner_Type  KML   MPG  Engine  Power  Seats    Price      USD
0      First   15  35.0    1498    108      5   800000   9600.0
1     Second   17  40.0    1597    140      5  1000000  12000.0
2      First   10  24.0    4951    395      4  2500000  30000.0
3      Third   23  54.0    1248     74      5   600000   7200.0
4     Second   18  42.0    1999    194      5   850000  10200.0

In [18]:
cars['MPG'] = cars['MPG'].round()

In [19]:
print(cars.head())

   Car_ID    Brand    Model  Year  Kilometers_Driven Fuel_Type Transmission  \
0       1   Toyota  Corolla  2018              50000    Petrol       Manual
1       2    Honda    Civic  2019              40000    Petrol    Automatic
2       3     Ford  Mustang  2017              20000    Petrol    Automatic
3       4   Maruti    Swift  2020              30000    Diesel       Manual
4       5  Hyundai   Sonata  2016              60000    Diesel    Automatic

  Owner_Type  KML   MPG  Engine  Power  Seats    Price      USD
0      First   15  35.0    1498    108      5   800000   9600.0
1     Second   17  40.0    1597    140      5  1000000  12000.0
2      First   10  24.0    4951    395      4  2500000  30000.0
3      Third   23  54.0    1248     74      5   600000   7200.0
4     Second   18  42.0    1999    194      5   850000  10200.0

In [20]:
cars.to_csv('updated_cars_1.csv')

In [21]:
print(cars.dtypes)

Car_ID                 int64
Brand                 object
Model                 object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
KML                    int64
MPG                  float64
Engine                 int64
Power                  int64
Seats                  int64
Price                  int64
USD                  float64
dtype: object

In [22]:
cars.describe()

,Car_ID,Year,Kilometers_Driven,KML,MPG,Engine,Power,Seats,Price,USD
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000
mean,50.500000,2018.39000,28150.000000,17.210000,40.440000,1855.230000,158.130000,5.230000,1.574000e+06,18888.000000
std,29.011492,1.17116,9121.375716,3.309902,7.758111,631.311475,76.968137,0.750151,1.000265e+06,12003.175337
min,1.000000,2016.00000,10000.000000,10.000000,24.000000,999.000000,68.000000,4.000000,4.500000e+05,5400.000000
25%,25.750000,2017.75000,22000.000000,15.000000,35.000000,1462.000000,103.000000,5.000000,7.000000e+05,8400.000000
50%,50.500000,2018.00000,27000.000000,17.000000,40.000000,1774.000000,148.000000,5.000000,1.300000e+06,15600.000000
75%,75.250000,2019.00000,32000.000000,19.000000,45.000000,2143.000000,187.000000,5.000000,2.500000e+06,30000.000000
max,100.000000,2021.00000,60000.000000,25.000000,59.000000,4951.000000,396.000000,7.000000,4.000000e+06,48000.000000